<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
<!--    <h1>Hello, {{ name }}</h1>-->
<!--    <input type="text" v-model="name" />-->
<!--    <p v-if="name.length != 0">Hi, my name is {{ name }}</p>-->
    <ul>
        <li v-for="name in names">
            <pre>{{ name }}</pre>
        </li>
    </ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="script.js"></script>
</body>
</html>